*{
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

body, html{
    height: 100%;
}

.menu{
    height: 99px; 
    display: flex;
    justify-content: space-between;
    
}

.left{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-transform: uppercase;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.87);
}

.left div{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left .active{
   /* border-bottom: 5px solid green; */
   display: flex;
   flex-direction: column;
   position: relative;
}

.left .underline{
    position: absolute;
    bottom: 0;
    width: 100%;
    border: 3px solid #00754a;
}

.right{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 600;
}

.right div{
    display: flex;
    align-items: center;
}

.signIn{
    border: 1px solid black;
    padding: 7px 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 200ms;
}

.signIn:hover{
    background-color: rgb(0,0,0,.10)
}

.signIn a{
    color: black;
    font-weight: 500;
}

.join{
    border: 1px solid black;
    padding: 7px 16px;
    border-radius: 25px;
    background-color: black;
    cursor: pointer;
    transition: opacity 200ms;
}

.join:hover{
    opacity: 70%;
}

.join a{
    color: white;
}

.activeTab{
    background-color:  #1e3932;
    color: white;
    padding: 1rem;
    text-transform: uppercase;

}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.activeTab p{
    font-weight: 700;
    padding-left: 100px;
}

.hero{
    background-image: url('/images/herophoto.jpg');
    width: 100%;
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text{
    color: white;
    position: absolute;
    top: 35%;
    left: 7%;
    /* transform: translate(-50%, -50%); */
}

.hero-text h2{
    text-transform: uppercase;
    font-size: 2.5rem;
}

.hero-text p{
    margin: 1.5rem 0;
    font-size: 18px;
}

.hero-text a{
    color: white;
    text-decoration: underline;
}

.hero-text a:hover{
    text-decoration: none;
}

.hero-button{
    background-color: #008248;
    border: 1px solid #008248;
    width: fit-content;
}

.getting-started, .endless-extras{
    padding: 128px 0;
    /* border: 1px solid blue; */
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: rgba(0, 0, 0, 0.87);
}

.started-text h2, .endless-text h2{
    font-size: 28px;
}

.started-text p, .endless-text p{
    padding-top: 16px;
    font-weight: 400;
}

.getting-started .logo{
    font-size: 20px;
    width: fit-content;
    border: 1px solid #008248;
    color: #008248;
    padding: 14px 23px;
    border-radius: 50%;
    font-weight: bold;
}

.started-steps, .extra-container{
    padding-top: 48px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.step h3, .extra h3{
    padding-top: 24px;
    padding-bottom: 16px;
    font-size: 19px;
    font-weight: 700;
}

.step p, .extra p{
    font-weight: 500;
}

.step{
    width: 25%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.step a, .extra a{
    color: #008248;
    text-decoration: underline;
}

.favorites{
    padding: 64px 0;
}

/* Style the tab */
.tab {
    overflow: hidden;
    background-color: #f1f8f6;
    padding-bottom:2px;
    display: flex;
    justify-content: center;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 21px;
    border-bottom: 5px solid transparent;
    transition: 0.3s;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
  }
  
  /* Change background color of buttons on hover */
  /* .tab button:hover {
    background-color: #ddd;
  } */
  
  /* Create an active/current tablink class */
  .tab button.active{
    border-bottom: 5px solid #1e3932;
  }

 
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    /* height: 500px; */
    padding: 32px 0;
    justify-content: center;
    background-color:#d4e9e2;
    gap: 2rem;
  }

  .tabcontent .content-text{
    display: flex;
    flex-direction: column;
    width: 17%;
    justify-content: center;
   
  }

  .tabcontent .content-text h3{
    font-size: 24px;
    padding-bottom: 16px;
  }

  .tabcontent img{
    width: 420px;
  }

  .tabcontent .content-text, .tabcontent img{
    animation: fadeEffect 1s; 
  }
  
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  .endless-extras{
    padding: 64px 0;
    height: 470px;
  }

  .endless-extras img{
    width: 120px;
  }

  .extra-container .extra{
    width: 25%;
  }

  .extra p{
    padding-bottom: 10px;
  }

  .cash-or-card{
    background-color: #f3f1e7;
    padding: 48px 0;
  }

  .cash-text{
    text-align: center;
    margin-bottom: 4rem;
  }
  .cash-text h2{
    font-size: 26px;
    padding-bottom: 14px;
  }

  .cash-text p{
    width: 35%;
    margin: 0 auto;
  }

  .per-text{
    /* width: 16%; */
    margin-right: 8rem;
  }

  .per-dollar{
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    /* gap: 4rem; */
    /* justify-content: flex-end; */
  }

  .per-dollar img{
    width: 150px;
  }

  .per-container{
    display: flex;
    gap: 1rem;
    width: 33%;
    /* width: 33%;
    justify-content: center; */
  }

  .per-content{
    display: flex;
    flex-direction: column;
    max-width: 60%;
  }

  .per-content h2{

  }

  .per-content p{
    padding-top: 1rem;
    font-size: 16px;
    letter-spacing: -0.16px;
    line-height: 24px;
    font-weight: 500;
  }
 
  hr{
    border-bottom: 1px solid rgba(0, 0, 0, .87);
    width: 80%;
    margin: 0 auto;
  }

  .keep-coming{
    background-color: #fff;
    background-image: url('https://www.starbucks.com/app-assets/844262945b2a8b8cfb293156e2583872.png');
    background-size: cover;
    height: 610px;
    position: relative;
    overflow: hidden;
  }

  .keep-inner{
    background-color: #d4e9e2;
    position: absolute;
    top: 7%;
    left: 2%;
    height: 533px;
    width: 96%;
    display: flex;
    justify-content: center;
  }

  .left-stars{
    height: 100%;
    width: 20%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
  }

  .right-stars{
    height: 100%;
    width: 20%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
  }

  .keep-content{
    padding: 40px 24px;
    width: 57%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .keep-text{
    text-align: center;
  }

  .keep-text p{
    padding-top: 2rem;
    width: 60%;
    margin: 0 auto;
    font-weight: 500;
  }

  .rewards-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
  }
  .rewards-container img{
    width: 270px;
  }

  .left-reward, .right-reward{
    padding-top: 3rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .keep-coming .join{
    margin-top: 5rem;
    color: white;
    font-weight: 600;
  }

  .questions{
    padding: 100px 0;
    padding-left: 16%;
  }

  .question-text{
    width: 30%;
  }

  .question-text h2{
    font-size: 32px;
    padding-bottom: 1rem;
  }

  .question-text p{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.16px;
    line-height: 24px;
  }

  .question-text a{
    color: #008248;
    text-decoration: underline;
  }


  .accordions{
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 16px;
  }

  .accordions ul{
    width: 100%;
  }

  .accordions li{
    list-style: none;
  }

  .accordions .title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-top: 1.5rem ;
  }

  .title h3{
    font-size: 22px;
    font-weight: 600;
  }

  .accordions .title svg{
    transition: 0.2s;
    width: 35px;
    height: auto;
  }

  .title.opened svg{
    transform: rotate(180deg);
  }
  
  .accord-content{
    display: none;
  }

  .accord-content ul li{
    padding: 1rem 1rem 1rem 0;
  }

  .accord-content ul li a{
    font-weight: 500;
    opacity: 70%;
  }

  .accord-content ul li a:hover{
    opacity: 100%;
  }

  .footer{
    padding: 1.5rem 0;
    width: 80%;
    margin: 0 auto;
   padding-bottom: 10rem;
  }

  .footer .socials svg{
    height: auto;
    width: 40px;
    margin-right: 20px;
    margin-bottom: .5rem;
  }

  .footer .footer-links ul{
    list-style: none;
    padding-bottom: 1rem;
  }

  .footer .footer-links li{
    padding: .5rem 0;
    font-weight: 600;
    font-size: 16px;
  }

  .footer .footer-links li:hover{
  text-decoration: underline
  }

  .footer .disclaimer{
    text-align: center;
  }